.section {
    padding-top: 3em;
    display: flex;
    width: 100%;

    & div {
        display: flex;
        width: 100%;
    }

    & section {
        height: fit-content;
        margin: auto 0 0 0;
    }

    & img {
        height: 150px;
        aspect-ratio: 1/1;
        border-radius: 24px;
        border: 1px solid rgba(136, 136, 136, 0.8);
    }
}

.header {
    font-size: 2em;
    line-height: 1;
    margin: 0 12px;
}

.button {
    font-size: 1em;
    height: 50px;
    aspect-ratio: 16/9;
    transition-duration: 0.3s;
    border-radius: 6px;
    margin: 6px 12px;

    &:hover {
        font-size: 1.25em;
    }
}