@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    width: 95vw;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid #242424;
    position: fixed;
    background-color: rgba(255, 255, 255);

    & > div {
        display: flex;
    }
}

.logo {
    font-size: 2.5em;
    margin: auto 0.5em;
    line-height: 100%;

    font-family: "Oi", serif;
    font-weight: 800;
    font-style: normal;

    & a {
        font-size: 1.25em;
        color: #242424;
        text-decoration: none;
        transition-duration: 0.3s;
    }

    & a:hover {
        font-weight: bold;
        color: black;
    }

    & a:checked {
        color: black;
    }
}

.nav {
    font-size: 1.2em;
    margin: auto 0.5em;
    display: flex;
    gap: 2em;

    & a {
        font-size: 1.25em;
        color: #242424;
        text-decoration: none;
        transition-duration: 0.3s;
    }

    & a:hover {
        font-weight: bold;
        color: black;
    }

    & a:checked {
        color: black;
    }
}

.startPage {
    margin-top: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.startPage_logo {
    font-size: 12em;
    text-align: center;
    margin: 0 auto 24px;
    line-height: 100%;

    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

.imageSection {
    height: fit-content;
    padding: 24px 0;
    display: flex;
    justify-content: center;

    & img {
        width: 70vw;
        border-radius: 24px;
    }
}

.aboutSection {
    width: fit-content;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection_subheader {
    font-size: 1.25em;
    font-weight: 1000;
    color: #888888;
    margin-bottom: 12px;
}

.aboutSection_text{
    font-size: 2em;
    margin: 0;
    font-weight: 600;
}

.aboutSection_linkBtn {
    background: darksalmon;
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
    margin: 1em 0;
    padding: 0.1em 1em;
    color: #242424;
}

.carouselHorizontal {
    max-width: 100vw;
    padding: 24px;

    background: blueviolet;

    display: flex;
    gap: 1.5em;

    overflow-inline: hidden;

    & div {
        height: 200px;
        aspect-ratio: 2/1;
        background: khaki;

    }
}

.pageContent {
    width: 95vw;
    margin: 10vh auto 0;

    & h2 {
        font-size: 6em;
    }
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin: 0 auto;
    padding: 24px 0;

    & article {
        width: 300px;
    }

    & h3 {
        font-size: 1.25em;
        font-weight: 1000;
        color: #888888;
    }
}

.card {
    border: 1px solid transparent;

    & img {
        border-radius: 12px;
        background: green;
    }
}

.galleryGrid {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 1.5em;

    & .card {
        aspect-ratio: 3/4;
        background: khaki;
        padding: 1em;
        border-radius: 24px;

        & img {
            width: 100%;
            aspect-ratio: 3/4;
        }
    }
}

.galleryGrid_service {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & .card {
        display: flex;
        justify-content: space-between;

        border-top: 1px solid #888888;
        border-bottom: 1px solid #888888;

        padding: 24px 0;

        & img {
            height: 400px;
            aspect-ratio: 4/3;
        }
    }
}

.footer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footerContainer {
    width: 85vw;
    aspect-ratio: 17/9;
    background-image: url("../assets/images/webp/vecteezy_top-view-of-purple-vanda-orchid-flower-in-the-bouquet-ready_14035317.webp");
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    justify-content: end;
    align-items: end;
    color: #efebeb;
    padding: 0 24px;
}

.userInfoSection {
    padding-top: 3em;
    display: flex;
    width: 100%;
    justify-content: space-between;

    & div {
        display: flex;
        width: 100%;
    }

    & section {
        height: fit-content;
        line-height: 100%;
        margin: 24px;
    }

    & h2 {
        font-size: 2em;
    }

    & p {
        font-size: 1.25em;
    }

    & img {
        height: 150px;
        aspect-ratio: 1/1;
        border-radius: 24px;
        background: blueviolet;
    }

    & button {
        font-size: 1em;
        height: 50px;
        aspect-ratio: 16/9;
        transition-duration: 0.3s;
        border-radius: 6px;
        margin: 6px 12px;

        &:hover {
            font-size: 1.25em;
        }
    }
}

.orderSection {
    margin: 2em 0 4em;

    & h3 {
        font-size: calc(2em - 30%);
    }

    & > div {
        border-top: 1px solid #888888;
        border-bottom: 1px solid #888888;

        display: flex;
        gap: 1.5em;
        padding: 12px;
    }
}

.order {
    width: 300px;
    aspect-ratio: 20/9;
    padding: 12px;
    border: 1px solid #efebeb;
    transition-duration: 0.3s;
    border-radius: 12px;

    &:hover {
        border: 1px solid #888888;
    }
}

.emptyOrderList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0 ;

    & p {
        line-height: 100%;
    }
    & div {
        display: flex;
        gap: 3em;
    }
}

.cartButton {
    height: 38px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 1em;
    border: 1px solid #888888;
    transition-duration: 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}